<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT"
            crossorigin="anonymous">
    <title>Title</title>
</head>
<body style="background: #8080801f">
<div th:replace="fragment/header::header"></div>
    <div layout:fragment="content"></div>
    <div layout:fragment="studentList"></div>
    <div layout:fragment="editStudent"></div>
</body>
</html>